In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
import shutil
os.chdir("/content/drive/MyDrive/Nasscom/Final_Five")
print(os.getcwd())

/content/drive/.shortcut-targets-by-id/1YlMLFzLEyPeRzVzPiY1QdXDP13IfS7N6/Nasscom/Final_Five

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
import seaborn as sns
from sklearn.model_selection import train_test_split
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.stattools import adfuller
from math import sqrt
import statsmodels.api as sm
import datetime as dt

In [61]:
df = pd.read_csv('complete_karimnagar.csv')

In [62]:
df_18 = pd.DataFrame([pd.Series([i,j]) for i,j in zip(df['Date'],df['Max Temp (°C)']) if "/18" in i])
df_19 = pd.DataFrame([pd.Series([i,j]) for i,j in zip(df['Date'],df['Max Temp (°C)']) if "2019" in i])

In [63]:
df_18[0] = pd.to_datetime(df_18[0],format="%d/%m/%y")
df_18[df_18[0].dt.strftime("%m/%d")=="01/05"].max()

0    2018-01-05 00:00:00
1                   32.9
dtype: object

In [64]:
df_19[0] = pd.to_datetime(df_19[0])
df_19.head(40)

            0     1
0  2019-01-01  27.5
1  2019-01-02  28.5
2  2019-01-03  31.0
3  2019-01-04  30.8
4  2019-01-05  30.7
5  2019-01-06  31.9
6  2019-01-07  30.9
7  2019-01-08  29.8
8  2019-01-09  28.4
9  2019-01-10  29.9
10 2019-01-11  30.0
11 2019-01-12  31.9
12 2019-01-13  31.2
13 2019-01-14  32.2
14 2019-01-15  30.3
15 2019-01-16  29.5
16 2019-01-17  30.7
17 2019-01-18  31.7
18 2019-01-19  31.0
19 2019-01-20  30.9
20 2019-01-21  31.8
21 2019-01-22  32.2
22 2019-01-23  33.1
23 2019-01-24  32.6
24 2019-01-25  31.0
25 2019-01-26  31.8
26 2019-01-27  24.4
27 2019-01-28  21.0
28 2019-01-29  25.0
29 2019-01-30  26.3
30 2019-01-31  27.5
31 2019-01-01  27.3
32 2019-01-02  29.1
33 2019-01-03  31.7
34 2019-01-04  31.0
35 2019-01-05  30.9
36 2019-01-06  30.7
37 2019-01-07  28.8
38 2019-01-08  29.3
39 2019-01-09  28.0

In [65]:
df_20 = pd.DataFrame([pd.Series([i,j]) for i,j in zip(df['Date'],df['Max Temp (°C)']) if "2019" not in i and "2021" not in i and "2022" not in i and "-20" in i or "2020" in i ])
df_20[0] = pd.to_datetime(df_20[0])
df_20.head()

           0     1
0 2020-01-01  26.1
1 2020-01-02  30.9
2 2020-01-03  29.1
3 2020-01-04  21.6
4 2020-01-05  24.8

In [66]:
df_21 = pd.DataFrame([pd.Series([i,j]) for i,j in zip(df['Date'],df['Max Temp (°C)']) if "-21" in i and "2019" not in i and "2020" not in i and "2022" not in i])
df_21[0] = pd.to_datetime(df_21[0])
df_21.head()

           0     1
0 2021-01-01  28.6
1 2021-01-02  28.1
2 2021-01-03  29.0
3 2021-01-04  29.3
4 2021-01-05  29.1

In [67]:
df_22 = pd.DataFrame([pd.Series([i,j]) for i,j in zip(df['Date'],df['Max Temp (°C)']) if "-22" in i and "2019" not in i and "2020" not in i and "2021" not in i])
df_22[0] = pd.to_datetime(df_22[0])
df_22.head()

           0     1
0 2022-01-01  29.4
1 2022-01-02  29.4
2 2022-01-03  30.4
3 2022-01-04  29.6
4 2022-01-05  29.6

In [68]:
df_adil = pd.concat([df_18,df_19,df_20,df_21,df_22],axis=0)

In [69]:
df_adil.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33645 entries, 0 to 5400
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       33645 non-null  datetime64[ns]
 1   1       33645 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 788.6 KB

In [71]:
df_adil = df_adil.sort_values(0).reset_index()
df_adil = df_adil.drop(columns=['index', 'level_0'])
df_adil.head()
#drop index first then index and label

           0     1
0 2018-01-01  32.2
1 2018-01-01  31.0
2 2018-01-01  33.2
3 2018-01-01  29.7
4 2018-01-01  30.1

In [72]:
grp_df = df_adil.groupby(df_adil[0])
len(list(grp_df))
list(grp_df)[0][1].max().to_frame().transpose()

           0     1
0 2018-01-01  35.4

In [73]:
df_adil = pd.DataFrame()

for tmp_df in list(grp_df):
  tmp = tmp_df[1].max().to_frame().transpose()
  df_adil = pd.concat([tmp,df_adil],axis=0)

In [74]:
df_adil.sort_values(0)[df_adil[0].dt.strftime("%m/%d")=="01/05"].max()

0    2022-12-27 00:00:00
1                   34.1
dtype: object

In [75]:
df_adil = df_adil[::-1]

In [76]:
df_adil = df_adil.rename(columns={0: 'Date', 1: 'Max_temp'})

In [77]:
df_adil

         Date Max_temp
0  2018-01-01     35.4
0  2018-01-02     35.2
0  2018-01-03     35.0
0  2018-01-04     33.9
0  2018-01-05     32.9
..        ...      ...
0  2022-12-27     32.8
0  2022-12-28     34.8
0  2022-12-29     36.9
0  2022-12-30     34.7
0  2022-12-31     35.4

[1765 rows x 2 columns]

In [ ]:
df_adil.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1762 entries, 0 to 0
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      1762 non-null   datetime64[ns]
 1   Max_temp  1762 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 41.3+ KB

In [78]:
df_adil.to_csv('karimnagar_final.csv', index=False)